$red : #ff6060;
$grey: #F6F6F6;
$black: #000;


$opacity: 45%; 



////////////////Screen dimensions////////////
$bp-desktop:1440px;
$bp-mobile:375px;



$desktop-width: 1440px;
$desktop-height: 1517px;

$mobile-width:375px;

$mobile-height-c:1248px;
$mobile-height-card:823px;
$mobile-height-404:879px;
$mobile-height-apropos:604px;

/////////////////////absolute element dimensions//////////////////////////////

$header-height-d:68px;

$header-width-m:335px;
$header-height-m:46.88px;

$logo-width-d:210px;
$logo-height-d:68px;

$logo-width-m:145px;
$logo-height-m:46px;

$nav-width-d:309px;
$nav-height-d:34px;

$nav-width-m:190px;
$nav-width-m:17px;

$footer-height:209px;

$body-width-d:1240px;
$body-width-m:335px;
