.apropos{
    @include main;
  }

.apropos_banner {
  @include apropos_background;
}


.Collapse_container{
  // border: gray dashed 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  margin: 38px 0 38px 0;
width: $main-content-width;
list-style-type: none;
padding: 0;}

.Collapse_component{
  width:100%;
  border-radius: 10px;;
}

