
#p404{
    
   
    display: flex;
    flex-direction: column;
    align-items:  center;
    height:100vh;
    width:$main-content-width;
  gap: 139px;
    justify-content: center;
}

#notFoundTitle{
    color: #FF6060;
text-align: center;
font-family: Montserrat;
font-size: 288px;
font-style: normal;
font-weight: 700;
line-height: 142.6%; /* 410.688px */
margin:0;
padding: 0;
}


#notFoundSubtitle{
    color: #FF6060;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 51.336px */
margin: 0;
}

#linkhome {
    color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */
text-decoration-line: underline;
}



@media (max-width: 768px) {
    #p404 {
        gap: 20px;
        padding: 20px;
    }

    #notFoundTitle {
        font-size: 96px;
        line-height: 1.2; /* Adjust to maintain visual balance */
    }

    #notFoundSubtitle {
        font-size: 24px;
        line-height: 1.2; /* Adjust to maintain visual balance */
        text-align: center;
    }

    #linkhome {
        font-size: 16px;
        line-height: 1.2; /* Adjust to maintain visual balance */
        text-align: center;
    }
}