@use "sass:math";



@import '_variables.scss';
@import 'mixins';


.property{
    @include main;
    border: none;
}

.property_infos{
    
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:10px 0 10px 0;
}

h1{
    color: #FF6060;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 51.336px */
}

h2{
    color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */
}

.left{
   
    flex:2;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex:1;
    
}

.details{
    
    display: flex;
    gap:76px;
    width: 100%;
}

.infotitle{
    color:$red;
}

.host{
    color: $red;
    display: flex;
    justify-content: space-between;
    img{
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
   h3{
    
    display: inline;
    color: #FF6060;
text-align: right;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 142.6%; /* 25.668px */
   
} 
}

.star{
   
    display: inline;
    width: 36px;
    height: 36px;


}

