@use "sass:math";



@import '_variables.scss';
@import 'mixins';


.property {
    @include main;
    border: none;
}

.property_infos {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 10px 0;
}

h1 {
    color:$red;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    /* 51.336px */
}

h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    /* 25.668px */
}

.left {
    //    border: blue dashed 2px;
    width: 50%;
}

.right {
    // border: blue dashed 2px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2.5em;
    align-items: flex-end;

    flex: 1;

}

.details {

    display: flex;
    gap: 76px;
    width: 100%;
}

.infotitle {
    color: $red;
}

.host {

    color: $red;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: flex-start;

    img {
        margin-top: $spacing-small;
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }

    h3 {

        display: inline;
        color: $red;
        text-align: right;
      @include medium-font;
        line-height: 142.6%;
        /* 25.668px */

    }
}

.rate {


    display: inline;
    width: 188px;
}



.star {

    display: inline;
    width: 36px;
    height: 36px;


}


@include respond-to(mobile) {
    .property_infos {
        flex-direction: column;
        width: 100%;
    }

    .left,
    .right {
        width: 100%;
        padding-left: 0;
    }


    .details {

        flex-direction: column;
        gap: 20px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%;
        /* 18.538px */
    }

    .host {
        justify-content: flex-end;
        text-align: center;

        img {
            margin-top: 10px;
            width: 50px;
            height: 50px;
        }

        h3 {
            margin-top: 1.5em;
            ;
            font-size: 16px;
        }
    }

    .rate {
        margin-top: -2em;
        margin-bottom: 1em;
        width: 100%;
    }

    .star {
        width: 24px;
        height: 24px;
        margin-top: -20px;
    }
}