@import './styles/_variables.scss';
@import './styles/mixins';

* {
    box-sizing: border-box;
  }

  body {  border: solid orange 1px;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 1440px; // Set max-width to 1440px
    max-height: $desktop-height;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
   
  }


  #root {
  border: solid yellow 3px;
  margin-left: auto; // Center the element
  margin-right: auto; // Center the element
   
    // width: 100%;
    // height: 100%;
  
  }

  .App{
    border: solid green 2px;
    display: flex; // Change this
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100vh;
    padding-top: 45px;
  }


  .header{
  
   
    height: $header-height-d/$desktop-height *100%;
    width: $body-width-d;
    display: flex;
    justify-content: space-between ;
  }


.header_nav{
    // border: solid blue 1px;
    width:$nav-width-d/$desktop-width *100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.banner{
  border: solid blue 1px;
  width: 100%;
  height: 223px;
  border-radius: 25px;
opacity: 0.6;
background: #000;

mix-blend-mode: darken;

img{
  position: absolute;
  top:0;
}

}


.home{

  border: solid red 1px;
  display: flex;
  flex-direction: column;
  align-items:  center;
  height:100%;
  width: $body-width-d;
  margin-top:50px;
  margin-bottom:50px;
  
}



.a_propos{
  margin: 38px 0 38px 0;
}




.footer{
  background-color: $black;
  height: $footer-height;
  width: 100%;
  img{
    width:100%;
  }
    
}




















